/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


.DS_Store
Thumbs.db
/university-practice/front-end/node_modules
/university-practice/front-end/.vscode
/university-practice/back-end/node_modules
/university-practice/back-end/.vscode
/university-practice/front-end/package-lock.json
/university-practice/back-end/package-lock.json
/university-practice/back-end/dist/
/university-practice/front-end/dist


/university-practice/front-end/.env
!/university-practice/front-end/.env.example
/university-practice/back-end/.env
!/university-practice/back-end/.env.example

/university-practice/back-end/service-account*.json

/university-practice/front-end/.firebaserc
/university-practice/back-end/.firebaserc

/university-practice/front-end/sessions.json
/university-practice/back-end/sessions.json

/.vs/
/.vs
