.admin-page {
    position: relative;
    min-height: 100vh;

    &__background {
        /* точно як у Sessions */
        background-color: #1c1c1c;
        position: fixed;
        top: 180px;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
        z-index: 0;
    }

    &__page {
        /* точно як у Sessions */
        background-color: #171616;
        position: relative;
        z-index: 1;
        top: 70px; /* опустити картку вниз під хедером */
        width: 85%;
        margin: 0 auto;
        padding: 2rem;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    &__title {
        color: white;
        margin: 0 0 1rem;
        font-size: 1.75rem;
    }

    &__tabs {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    &__tab {
        appearance: none;
        background-color: #121010;
        color: #ccc;
        padding: 0.75rem 1.5rem;
        border: 1px solid #ccc;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            border-color: #999;
            color: #fff;
        }

        &--active {
            background-color: #c81313;
            border-color: #c81313;
            color: white;
        }
    }

    &__content {
        /* тут буде MovieManagement або SessionManagement */
    }
}