body {
  margin: 0;
}

.main {
  position: relative;
  height: 100vh;
}

.background {
  background-color: #1c1c1c;
  top: 180px;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  color: white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 0;
  left: 0;
}

.page {
  background-color: #171616;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  top: 70px;
  width: 85%;
  margin: 0 auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

.background-image {
  width: 100%;
  z-index: 1;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 70px 40px;
}

.header-content{
  padding: 70px 40px;
}

.poster{
  position: relative;
  z-index: 2;
  border-radius: 20px;
  max-height: 600px;
}

.overlay {
  display: flex;
  gap: 5rem;
  padding: 2rem;
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.details h1 {
  margin: 10px 0;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  font-size: 56px;
}

.meta {
  margin: 0.5rem 0;
  font-size: 22px;
  display: flex;
  gap: 2.5rem;
  color: white;
  font-weight: 600;
}

.genres {
  display: flex;
  color: white;
  font-size: 22px;
  margin: 1rem 0 120px;
  gap: 1.5rem;
}

.details p {
  font-size: 22px;
  margin-bottom: 2rem;
  color: white;
  font-weight: 200;
  line-height: 35px;
  letter-spacing: 1px;

}

.buttons {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.more {
  background: #444;
  border: none;
  color: white;
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 19px;
  white-space: nowrap;
}

.buy {
  background: #d72626;
  border: none;
  color: white;
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 19px;
  white-space: nowrap;

}

.gallery {
  padding: 2rem;
}

.search {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1.5rem;
}

.card {
  background: #2a2a2a;
  padding: 0.5rem;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  color: white;
}